*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  outline: none;
  font-family: monospace;
  font-weight: 400;
  color: rgb(19, 19, 19);

  outline: none;
}

body {
  background: rgb(60, 145, 255);
  height: 100vh;
}

.container {
  width: 80vw;
  background: whitesmoke;
  padding: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 6px;
}

.blob-container {
  background: rgb(222, 225, 225);
  width: 100%;
  min-height: 250px;
  border-radius: 5px;
  display: grid;
  place-items: center;
}
#blob {
  height: 300px;
  width: 300px;
  background: linear-gradient(rgb(116, 149, 250), rgb(0, 55, 255));
  margin: 20px;

  box-shadow: 15px 20px 30px rgb(163, 162, 162);
}

.dimensions {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 40px;
}

.dimensions label {
  font-size: 18px;
  font-weight: 500;
}

.dimensions input[type="number"] {
  width: 80px;
  height: 40px;
  padding: 12px;
  border: 1px solid grey;
}

.dimensions input[type="number"]:focus {
  background-color: white;
  border-color: rgb(0, 55, 255);
  color: rgb(0, 55, 255);
}

.sliders {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.copy-div {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

#css-code {
  width: 80%;
  border: none;
  background: rgb(228, 227, 227);
  padding: 10px;
  border-radius: 5px;

  font-size: 13px;
}

#copy-btn {
  background: rgb(42, 88, 255);
  color: white;
  padding: 10px 15px;
  margin-left: 4%;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
